/* Header styling */

header {
    background-color: white;
    padding: 14px 16px;
    font-size: 2em;
    border-radius: 10px;
}

/* Title styling */

header .title {
    font-family: 'Open Sans', Arial, sans-serif;
    display: block;
    float: left;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

/* Highlights title */

header .title:hover {
    color: #3498db;
}

/* Navigation Bar */

.navBar {
    padding: 0;
    position: relative;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
}

/* Links on navBar */

#links {
    float: left;
}

#links a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Highlights links */

#links a:hover {
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

/* Table */

.animals {
    background: white;
    padding: 10px;
    border: 2px black;
    border-radius: 10px;
}

th {
    font-weight: bolder;
}

/* Alternates color for table rows */

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Body styling */

body {
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
    position: relative;
    font-family: 'Open Sans';
    background-color: white;
    margin: 0 20px 0 20px;
}

/* Main styling / Wraps items --> Taken from SmartPhoneProducts1*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* Contains background in border */

.wrapper {
    min-height: 500px;
}

/* Image styling */

img {
    width: 100px;
}

/* Item styling */

.item {
    margin-top: 15px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

/* Footer styling */

footer p {
    text-align: center;
}

/* Styling for Buy button --> CSS from w3schools*/

input[type=submit] {
    width: 50%;
    background-color: white;
    color: black;
    padding: 14px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#buyButton {
    text-align: center;
    color: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
}

/* Button Hover --> CSS from w3schools*/

input[type=submit]:hover {
    opacity: 0.5;
}

/* Invoice styling */

#invoice {
    width: 800px;
    background: #f1f1f1;
    height: 500px;
    padding: 60px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}